<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/materialize.min.js"></script>
</head>

<body>
    <!--导航栏-->
    <nav class="nav-top">
        <div class="nav-wrapper"> <a href="/static/index.html" class="left brand-logo" style="font-size:22px;">码蜂社</a>
            <ul id="nav-mobile" class="right">
                <li><a href="sass.html">登录</a></li>
                <li><a href="badges.html">注册</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <!--面包屑-->
        <div class="crumbs-wrapper zcard content-20"> <a href="#!" class="">首页</a> / <a href="#!" class="">论坛</a> / <a href="#!" class="active">前端</a>
        </div>
        <div class="row">
            <div class="col m8 s12">
                <div class="zcard que-dtl">
                    <h2>国内有哪些公司在用Vue.js，有什么心得?</h2>
                    <div class="que-meta">
                        <span>118</span>
                        <span>56</span>
                        <span>12/18 23:25</span>
                    </div>
                    <div class="que-content">
                        目前正在编写一套完整的桌面端组件库，利用它可以快速搭建后台页面。将于近期开源。 下面要隆重介绍的是前两天刚发布的一个工具。对于使用 webpack 打包的项目来说，不管是用 vue，angular 还是 react，开启一个新项目的时候都有许多脚手架的工作要做，比如写 webpack 的配置文件，安装依赖等等。这个过程有时会很繁琐，而且对新人不友好。</br>为了解决这个问题，团队的小伙伴写了一个构件工具——cooking - 更易上手的前端构建工具。上面列出的工作，cooking
                        都可以一键完成，能够极大地解放生产力。而且，它不仅支持 vue，angular 和 react 也是支持的。

                    </div>
                </div>
                <div class="ans-text">
                    <textarea name="" id="" class="zcard" style="height:100px;background:#fff;border:none"></textarea>
                    <button class="btn waves-effect waves-light right" type="submit" name="action" style="background: #ef1255;margin:10px 0 20px;">发布
   
  </button>
                </div>
                <div class="clear"></div>
                <div class="ans-list">
                    <div class="ans-item row zcard">
                        <div class="col">
                            <div class="ans-avator">
                                <img src="/static/imgs/t2.jpg" alt="" class="avator">
                            </div>
                        </div>
                        <div class="col s10" style="margin:5px 0 10px -10px;">
                            <div class="meta">
                                <span>steven</span>
                                <span>12/25 1:58</span>
                            </div>
                            <div class="ans-content">
                                目前没有找到比较全的 ES 6 新特性汇总（中文），于是就自己花了一下午收集了一下，不说 100% 全面，也至少收录了 90% 的新特性。 这样学 ES 6 就方便了。图片中蓝色的链接指向中文学习资料。其中有些资料翻译不准确，我就自己帮它纠正翻译了。
                            </div>
                            <div style="margin-top:10px;color:#8590a6;">
                                <span></span>
                                <span>回复</span>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <div class="ans-item row zcard">
                        <div class="col">
                            <div class="ans-avator">
                                <img src="/static/imgs/t2.jpg" alt="" class="avator">
                            </div>
                        </div>
                        <div class="col s10" style="margin:10px 0 10px -10px;">
                            <div class="meta">
                                <span>steven</span>
                                <span>12/25 1:58</span>
                            </div>
                            <div class="ans-content">
                                根据题主的实际情况，如果一上来就要学这些计算机基础课程，估计是个人都会丧失兴趣吧。 我本科软件工程专业，前端知识其实在学校里一点都没学到，也没有课程教。完全是自学前端。 就我的感受来说
                            </div>
                            <div style="margin-top:10px;color:#8590a6;">
                                <span></span>
                                <span>回复</span>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <div class="ans-item row zcard">
                        <div class="col">
                            <div class="ans-avator">
                                <img src="/static/imgs/t2.jpg" alt="" class="avator">
                            </div>
                        </div>
                        <div class="col s10" style="margin:10px 0 10px -10px;">
                            <div class="meta">
                                <span>steven</span>
                                <span>12/25 1:58</span>
                            </div>
                            <div class="ans-content">
                                微信小程序正式公测，公测时间：11月3日夜； 前言：新人第一坑，跳坑指南：修改后，必须保存；ctrl+S； 如果你觉得本回答对你有用，帮助到了你，欢迎在这里分享自己的经验心得，帮助更多的人
                            </div>
                            <div style="margin-top:10px;color:#8590a6;">
                                <span></span>
                                <span>回复</span>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <div class="seemore-wrap">
                        <a href="" class="btn seemore">查看更多</a>
                    </div>
                </div>
            </div>
            <div class="col m3 s12">
                <div class="zcard user-card ">
                    <div class="avator">
                        <img src="/static/imgs/l1.jpg" alt="" class="avator">
                    </div>
                    <div class="ucard-username">
                        杰克
                    </div>
                    <div class="ucard-intro">
                        知识就是power
                    </div>
                    <hr style="width:60%;margin:10px auto; m">
                    <div class="ucard-somethings ">
                        <div style="font-size:12px;color:#999;">评论</div>
                        <div style="">66</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="Copyright ">
            Copyright © 2016 码蜂社 京公网安备 26015792005034号
        </div>
    </footer>
</body>

</html>